{% load selectize_tags %}
{% selectize_tags_media 'css' %}
{% selectize_tags_media 'js' 'jquery' %}

<h2>Articles</h2>
<table border="2">
    <tr><th>Headline</th><th>Publications</th><th></th></tr>
    {% for article in object_list %}
    	<tr>
	    	<td>(R:{{article.ratings}}) <strong>{{ article.headline }}</strong></td>
	    	<td>
            {% for publication in article.publications.all %}
	        	<span style="color:green">{{ publication.title }}</span>,
	        {% endfor %}
            </td>
            <td><a href="{% url 'article_update' article.pk %}">update</a></td>
        </tr>
    {% endfor %}
</table>
<hr>
<form action="" method="post" style="border:1px solid #ccc">{% csrf_token %}
    <h3> Create or Update an article</h3>
    {{ form.as_p }}
    <input type="submit" value="Submit" />
    {% if form.instance.pk %}
        <a href="{% url 'articles' %}">Cancel</a>
    {% endif %}
</form>
<script type="text/javascript">
    $('#id_publications').selectize();
    $('#id_ratings').selectize();
</script>