<!DOCTYPE html>
{% load selectize_tags %}
<html lang="en">
  <head>
  	<title>Django-Selectize Basic example</title>
    <!-- Bootstrap Theme CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

		{% selectize_tags_media 'css' 'default' %}
		<link rel="stylesheet" href="http://highlightjs.org/static/styles/ir_black.css">
		<style type="text/css">
			/*pre{background:#fff;color:#000;font-weight: 500;}*/
			body{background:#f1f1f1;}
		</style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="{% url 'articles' %}">Django ModelForm example</a></li>
          <li><a href="https://github.com/djangoer/django-selectize">Fork on Github</a></li>
        </ul>
        <h3 class="text-muted">Django Selectize</h3>
      </div>
      <hr>
      <div class="panel panel-default">
			  <div class="panel-heading">Installing django-selectize:</div>
      	<div class="panel-body">	
      	<strong>There are several ways to install django-selectize:</strong>
					<ul>
						<li> Automatically, via a package manager: <code>pip install django-selectize</code></li>
						<li>Download a release package then unzip and run <code>python setup.py install</code>.</li>
						<li>If you don't like to install then download a release package, unzip and copy the folder <code>selectize</code> to your Django-project directory.</li>
					</ul>
					<p> Now add  <code>selectize</code> to the  <code>INSTALLED_APPS</code> setting of your project.</p>
					<p> <strong>Note:</strong> you must place <code>selectize</code> above other installed applications.</p>
				</div>
			</div>
      <div class="row">
      	<div class="col-md-6">
      		<div class="panel panel-default">
					  <div class="panel-heading">Single-Select Example:</div>
          	<div class="panel-body">	
		          <label for="select-country">Country:</label>
							<select id="select-country" placeholder="Select a country...">
							  <option value="">Select a country...</option>
								<option value="AF">Afghanistan</option>
						    <option value="AL">Albania</option>
						    <option value="DZ">Algeria</option>
						    <option value="AS">American Samoa</option>
						    <option value="AD">Andorra</option>
						    <option value="AO">Angola</option>
						    <option value="AI">Anguilla</option>
						    <option value="AQ">Antarctica</option>
						    <option value="AG">Antigua and Barbuda</option>
						    <option value="AR">Argentina</option>
						    <option value="AM">Armenia</option>
						    <option value="AW">Aruba</option>
						    <option value="AU">Australia</option>
						  </select>
						</div><!--/panel-body-->
						<div class="panel-footer">
							<p>Usage:</p>
							<pre><code class="html">
{&#37; load selectize_tags &#37;}
&lt;html&gt;
 &lt;head&gt;  
 {&#37; selectize_tags_media 'css' &#37;}
 &lt;/head&gt;
 &lt;body&gt;
  &lt;label for="select-country"&gt;Country:&lt;/label&gt;
  &lt;select id="select-country" placeholder="Select a country..."&gt;
   &lt;option value=""&gt;Select a country...&lt;/option&gt;
   &lt;option value="AF"&gt;Afghanistan&lt;/option&gt;
   ....
  &lt;/select&gt;
  ...

  {&#37; selectize_tags_media 'js' 'jquery' &#37;}
  &lt;script&gt;
   $('#select-country').selectize();
  &lt;/script&gt;
 &lt;/body&gt;
&lt;html&gt;  </code></pre>
						</div>
					</div><!--/panel-->										  
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
					  <div class="panel-heading">Multiple-Select example:</div>
          	<div class="panel-body">	          	
		          <label for="select-state">States:</label>
		          <select id="select-state" name="state[]" multiple style="width:70%" placeholder="Select a state...">
								<option value="">Select a state...</option>
								<option value="AL">Alabama</option>
								<option value="AK">Alaska</option>
								<option value="AZ">Arizona</option>
								<option value="AR">Arkansas</option>
								<option value="CA" selected>California</option>
								<option value="CO">Colorado</option>
								<option value="CT">Connecticut</option>
								<option value="DE">Delaware</option>
								<option value="DC">District of Columbia</option>
								<option value="FL">Florida</option>
								<option value="GA">Georgia</option>
								<option value="HI">Hawaii</option>					
							</select>
		        </div><!--/panel-body-->
		        <div class="panel-footer">
		        	<p>Usage:</p>
							<pre><code class="html">
{&#37; load selectize_tags &#37;}
&lt;html&gt;
 &lt;head&gt;  
 {&#37; selectize_tags_media 'css' &#37;}
 &lt;/head&gt;
 &lt;body&gt;
  &lt;label for="select-state"&gt;States:&lt;/label&gt;
  &lt;select id="select-state" name="state[]" multiple style="width:70%" placeholder="Select a state..."&gt;
   &lt;option value=""&gt;Select a state...&lt;/option&gt;
   &lt;option value="AL"&gt;Alabama&lt;/option&gt;
   ....
  &lt;/select&gt;
  ...

  {&#37; selectize_tags_media 'js' 'jquery' &#37;}
  &lt;script&gt;
   $('#select-state').selectize();
  &lt;/script&gt;
 &lt;/body&gt;
&lt;html&gt;	</code></pre>
						</div>
					</div><!--/panel-->
				</div><!--/col-md-6-->
			</div>

      <div class="footer">
        <p>&copy; <a href="https://github.com/djangoer">DjangoER</a> 2014</p>
      </div>

    </div> <!-- /container -->


    <!--JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% selectize_tags_media 'js' 'jquery' %}
    <script src="http://highlightjs.org/static/highlight.pack.js"></script>
    
    <script>
    	$('#select-country').selectize();
    	$('#select-state').selectize();
    	hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>